<!DOCTYPE html>
<html>
<head>
	<title>搜索结果</title>
	<meta charset="utf-8">
	<style type="text/css">
		.body
		{
			margin:5px;
		}
		.main_left
		{
			width:40%;
			height:1000px;
			
			float:left;
		}
		.main_right
		{
			width:50%;
			height:1000px;
			
			float:right;
		}
	</style>
</head>
<body>
		<div class="box">
			<center><h4>以下列资源请跟左右序号相对</h4></center>

		<table border=1>	
		{% for each in seach_data_name %}
		
			<tr>
				<td><p>{{loop.index}}</p></td>
				<td><p>{{each}}</p></td>
			</tr>
			
		{% endfor %}
		
		

			
				{% for item in import_data %}
		<tr>
			<td><p>{{loop.index}}</p></td>
			<td><p>这是磁链:{{item}}</p></td>
		</tr>
			{%endfor%}

			</table>
		</div>
</body>
</html>